#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}
#mainnn{
    display: none;
}
.port {
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin: 50px;
    color: black;
}
.div1{
    background-image: url(pexels-njeromin-14737913.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    
}
.h22{
    position: absolute;
    margin-top: 12rem;
    margin-left: 10rem;
    color: white;
    font-size: 4rem;
}
.social-icons{
    position: absolute;
    margin-top: 23rem;
    margin-left: 10rem;
}
#About{
    margin-top: 3rem;
    height: 40rem;
    background-color: whitesmoke;
    display: flex;
}
.abo1{
    height: 20rem;
    width: 30rem;
   background-image: url(abdulmoruf-removebg-preview.png);
   background-repeat: no-repeat;
   margin-left: 15rem;
   margin-top: 5rem;
}
.abo2{
    width: 38rem;
    height: 30rem;
    background-color: white;
}
#About h3{
    margin-left: 1.7rem;
    color: rgb(46, 45, 45);
}
#About h6{
    margin-left: 1.7rem;
    color: rgb(46, 45, 45);
}
#About p{
    margin-left: 1.7rem;
}
.body2{
    
    font-family: Arial, sans-serif;
    color: rgb(19, 16, 16);
    margin-top: 4rem;
    padding: 0;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.skill-name {
    flex: 1;
    text-align: left;
}
.skill-bar {
    flex: 2;
    background: #333;
    border-radius: 5px;
    margin: 0 10px;
    position: relative;
}
.skill-bar div {
    height: 2px;
    background: red;
    border-radius: 5px;
}
.skill-percentage {
    flex: 1;
    text-align: right;
}
#Services{ 
   height: 45rem;
   background-color: white;
}
.s1{
    margin-top: 3rem;
   
}
.fa{
    color: red;
 }
 .card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.card i {
    font-size: 2em;
    color: #b71c1c;
}
.card h3 {
    
    margin: 15px 0;
}
.card p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.6;
}
.card a {
    color: #b71c1c;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.card a i {
    margin-left: 20px;
}
.container3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-left: 5rem;
}
#Works{
    background-color: whitesmoke;
    height: 70rem;
}
.port1{
        display: flex;
    margin-left: 30rem;
        gap: 5rem;
        margin-top: 3rem;
       
}
.con1{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
.img1{
background-image: url(ab1.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 25rem;
width: 25rem;
margin-left:5rem;
}
.img2{
    background-image: url(ab2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 25rem; 
}
.img3{
    background-image: url(ab3.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 25rem;
width: 25rem;
}
.con2{
    display: flex;
    gap: 2rem;
    
}
.img4{
   
    background-image: url(ab4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 25rem; 
    margin-left: 5rem;
}
.img5{
    background-image: url(ab5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 25rem; 
    
}
.img6{
    background-image: url(ab6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 25rem; 
    
}
#Client{
    height: 40rem;
    background-color: whitesmoke;
}
/* #Client h1{
    margin-left: 25rem;
} */
 #client .p1{
    text-align: justify;
    color: rgb(173, 40, 40);
 }
.test{
    height: 7rem;
    width: 7rem;
    background-image: url(pexels-mart-production-7255383.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30rem;

}
.test1{
    display: flex;
    height: 10rem;
    width: 100%;
    background-color: white;
    color: black;
   
    gap: 5rem;
}
.te1{
    margin-left: 5rem;
margin-top: 2rem;
}
.te2{
    margin-left: 5rem;
margin-top: 2rem;
}
.te3{
    margin-left: 5rem;
margin-top: 2rem;
}
.te4{
    margin-left: 5rem;
margin-top: 2rem;
}
/* #Blog{
    height: 25rem;
    background-color: white;
    margin-top: 3rem;
} */
.card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.ccs{
    display: flex;
    margin-left: 5rem;
    margin-top: 3rem;
}
#Contact{
    height: 50rem;
    width: 100%;
    background-color: white;
    
}
.ads{
    display: flex;
    height: 20rem;
        width: 100%;
        gap: 1rem;

    }
    .ads1{
        border: 8px solid rgb(247, 244, 244);
        width: 20%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;

    }
    .ads2{
        border: 8px solid rgb(247, 244, 244);
        width: 20%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;

    }
    .ads3{
        border: 8px solid rgb(247, 244, 244);
        width: 20%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;
       
    }
.ads i{
    color: red;
    size: 3rem;
    margin-top: 1rem;
}
.form{
    margin-top: 5rem;
}
.footer{
    height: 5rem;
    width: 100%;
    background-color: black;
    color: white;
  }  
  #naa{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: navy;
    z-index: 1;
   }
@media (max-width: 414px){
    nav{
        position: fixed;
    }
    .navbar{
    position: fixed;
    }
    .div1{
        width: 100%;
    }
    #About{
        margin-top: 3rem;
        height: 70rem;
        background-color: whitesmoke;
        display: grid;
    }
    .abo1{
        width: 100%;
        height: 30rem;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .abo2{
        width: 100%;
        text-align: justify;
        margin-top: 5rem;
    }
    
    #Services{
        width: 100%;
        display: grid;
        margin-top: 10rem;
    }
    .container3{
        width: 100%;
        display: grid;
        margin-left: 0.1rem;
    }
    .card{
        width: 100%;
        margin-left: 2rem;
    }
    #Works{
        width: 100%;
        margin-top: 60rem;
    }
    .port1{
        position: absolute;
        display: flex;
        margin-left: 0.1rem;
        gap: 3rem;
        margin-top: 1rem;
       
}
.port{
    margin-left: 2rem;
/* font-size: 0.rem; */
/* font-size:1px; */
}
.con1{
    display: grid;
    width: 100%;
    margin-top: auto;
}
.con2{
    display: grid;
    width: 100%;
}
.img1{
    margin-top: 5rem;
    margin-left: 0.01rem;
    width: 100%;
}
.img2{
    margin-top: 5rem;
    margin-left: 0.01rem;
    width: 100%;
}
.img3{
    margin-top: 5rem;
    margin-left: 0.01rem;
    width: 100%;
}
.img4{
    margin-left: 0.01rem;
    width: 100%;
}
.img5{
    margin-top: 5rem;
    margin-left: 0.01rem;
    width:100%;
}
.img6{
    margin-top: 5rem;
    margin-left: 0.01rem;
    width: 100%;
}
#Client{
    width: 100%;
    margin-top: 135rem;
}
#Client h1{
    margin-left: 6rem;
}
.test1{
    display: grid;
    width: 100%;
    height: 50rem;
    padding-left: 5rem;
}
/* #Blog{

    width: 100%;
    height: 70rem;
    display: grid;
    margin-left: 0.1rem;
} */
.card{
    margin-left: 0.1rem;
    width: 100%;
}
.ccs{
    display: grid;
}
.bh2{
    padding-left: 3rem;
}
#Contact{
    margin-top: 3rem;
    height: 60rem;
}
.ads{
    display: grid;
    margin-top: 3rem;
}
.ads1{
    border: 8px solid rgb(247, 244, 244);
    width: 40%;
    height: 8rem;
    background-color: white;
    margin-top: 2rem;
    margin-left: 5rem;

}
.ads2{
    border: 8px solid rgb(247, 244, 244);
    width: 40%;
    height: 8rem;
    background-color: white;
    margin-top: 2rem;
    margin-left: 5rem;

}
.ads3{
    border: 8px solid rgb(247, 244, 244);
    width: 40%;
    height: 8rem;
    background-color: white;
    margin-top: 2rem;

   
   
}
.form{
    margin-top: 17rem;
}
.footer{
    margin-top: 3rem;
}
.form1{
    width: 100%;
}
#Client h1{
    margin-left: 5rem;
}
}